classifier_workflow.json
{"updatedAt":"2026-05-19T02:30:29.220Z","createdAt":"2026-05-19T02:30:29.220Z","id":"quNNHEhPI12UXxpp","name":"AI Inbox Classifier","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"id":"n-cron","name":"Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,400]},{"parameters":{"jsCode":"// Fetch recent emails — look back 7 days to catch backlog.\n// Limit to 50 per execution to avoid overwhelming Haiku.\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://100.106.180.101:5001/imap/fetch-recent',\n  body: {\n    folder: \"INBOX\",\n    since_minutes: 10080,\n    limit: 50,\n    include_body: true,\n    body_max_chars: 2000\n  },\n  json: true,\n});\n\nif (!response || !response.ok || !response.emails || response.emails.length === 0) {\n  return [{ json: { error: null, emails: [], count: 0, note: \"No emails to process\" } }];\n}\n\n// Emit one item per email for downstream processing\nreturn response.emails.map(email => ({ json: email }));\n","mode":"runOnceForAllItems"},"id":"n-fetch","name":"Fetch Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,400]},{"parameters":{"operation":"executeQuery","query":"SELECT message_id FROM public.email_classified WHERE classified_at > now() - interval '8 days'","options":{}},"id":"n-check","name":"Get Classified IDs","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[600,400],"credentials":{"postgres":{"id":"JvthRCvWKXaGGbBI","name":"Finance Postgres"}},"alwaysOutputData":true},{"parameters":{"jsCode":"// Get the set of already-classified message IDs from the Postgres query\nconst classifiedRows = $('Get Classified IDs').all().map(i => i.json.message_id).filter(Boolean);\nconst classifiedSet = new Set(classifiedRows);\n\n// Get all emails from the fetch step\nconst emails = $('Fetch Emails').all().map(i => i.json);\n\n// Filter to only unclassified emails\nconst unclassified = emails.filter(e => e.message_id && !classifiedSet.has(e.message_id));\n\nif (unclassified.length === 0) {\n  return [{ json: { note: \"All emails already classified\", count: 0 } }];\n}\n\n// Emit one item per unclassified email\nreturn unclassified.map(email => ({ json: email }));\n"},"id":"n-filter","name":"Filter Unclassified","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,400]},{"parameters":{"operation":"executeQuery","query":"SELECT label FROM public.email_labels ORDER BY times_used DESC LIMIT 50","options":{}},"id":"n-labels","name":"Get Existing Labels","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[1000,400],"credentials":{"postgres":{"id":"JvthRCvWKXaGGbBI","name":"Finance Postgres"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const email = $('Filter Unclassified').first().json;\nconst labelRows = $('Get Existing Labels').all().map(i => i.json.label);\nconst existingLabels = labelRows.length > 0 ? labelRows.join(', ') : 'AI-Tags/Receipts, AI-Tags/Bills, AI-Tags/Subscriptions, AI-Tags/Shipping, AI-Tags/Finance, AI-Tags/Pets, AI-Tags/House, AI-Tags/Travel, AI-Tags/Social, AI-Tags/Newsletters, AI-Tags/Spam-ish, AI-Tags/Action-Required';\n\nconst subject = email.subject || '(no subject)';\nconst from = email.from_address || email.from_name || 'unknown';\nconst body = (email.body_text || '').slice(0, 1500);\n\nconst prompt = `Classify this email by applying 1-3 labels. Use the \"AI-Tags/\" prefix for all labels.\n\nRULES:\n- Reuse existing labels when they fit. Only create a new label if nothing existing applies.\n- If this is a purchase receipt, order confirmation, or payment confirmation, you MUST include \"AI-Tags/Receipts\" as one of the labels.\n- Labels should be short, consistent, and descriptive (e.g., \"AI-Tags/Pets\", \"AI-Tags/Travel\").\n- Use Title Case after the prefix (e.g., \"AI-Tags/Home-Improvement\" not \"AI-Tags/home improvement\").\n- Use hyphens for multi-word labels (e.g., \"AI-Tags/Action-Required\").\n\nPreviously used labels: ${existingLabels}\n\nEMAIL:\nFrom: ${from}\nSubject: ${subject}\nBody preview: ${body}\n\nReturn ONLY a JSON object: {\"labels\": [\"AI-Tags/...\", ...]}`;\n\nconst payload = {\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 256,\n  messages: [{ role: \"user\", content: prompt }]\n};\n\nreturn [{ json: { ...email, haiku_payload: payload } }];\n"},"id":"n-prompt","name":"Build Classifier Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,400]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.haiku_payload) }}","options":{"timeout":30000}},"id":"n-haiku","name":"Haiku Classify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,400],"credentials":{"httpHeaderAuth":{"id":"uGfcnvWQfj3IfjsH","name":"Anthropic API"}}},{"parameters":{"jsCode":"const ctx = $('Build Classifier Prompt').first().json;\nconst resp = $json;\n\nlet text = \"\";\ntry { text = (resp.content && resp.content[0] && resp.content[0].text) || \"\"; }\ncatch (e) { /* fall through */ }\n\ntext = text.trim().replace(/^```(?:json)?/, \"\").replace(/```$/, \"\").trim();\n\nlet labels = [];\ntry {\n  const parsed = JSON.parse(text);\n  labels = Array.isArray(parsed.labels) ? parsed.labels : [];\n} catch (e) {\n  // If parsing fails, try to extract labels from the text\n  const matches = text.match(/AI-Tags\\/[A-Za-z0-9-]+/g);\n  labels = matches || [];\n}\n\n// Guardrail: ensure labels are properly formatted\nlabels = labels\n  .filter(l => typeof l === 'string' && l.startsWith('AI-Tags/'))\n  .slice(0, 3);  // Max 3 labels\n\n// If no valid labels were returned, default to Newsletters (safe fallback)\nif (labels.length === 0) {\n  labels = ['AI-Tags/Newsletters'];\n}\n\nreturn [{ json: { ...ctx, labels: labels } }];\n"},"id":"n-parse","name":"Parse Classification","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,400]},{"parameters":{"jsCode":"const ctx = $json;\nconst results = [];\n\n// Labels that should trigger auto-archive (only if ALL labels are in this set)\nconst AUTO_ARCHIVE_LABELS = new Set([\n  'AI-Tags/Newsletters',\n  'AI-Tags/Spam-ish',\n  'AI-Tags/Shipping',\n  'AI-Tags/Receipts',\n  'AI-Tags/Subscriptions',\n]);\n\nfor (const label of ctx.labels) {\n  try {\n    const data = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://100.106.180.101:5001/imap/add-label',\n      body: { source_folder: \"INBOX\", uid: ctx.uid, label: label },\n      json: true,\n    });\n    results.push({ label, ok: data.ok, error: data.error || null });\n  } catch (e) {\n    results.push({ label, ok: false, error: e.message });\n  }\n}\n\n// Auto-archive: only if ALL assigned labels are in the auto-archive set\nconst allArchivable = ctx.labels.every(l => AUTO_ARCHIVE_LABELS.has(l));\nlet archived = false;\n\nif (allArchivable && ctx.uid) {\n  try {\n    const archiveData = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://100.106.180.101:5001/imap/archive',\n      body: { uid: ctx.uid },\n      json: true,\n    });\n    archived = archiveData.ok || false;\n  } catch (e) {\n    archived = false;\n  }\n}\n\nreturn [{ json: { ...ctx, label_results: results, archived: archived } }];\n"},"id":"n-apply","name":"Apply Labels","type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.email_classified (message_id, labels) VALUES ('{{$('Apply Labels').first().json.message_id}}', ARRAY[{{$('Apply Labels').first().json.labels.map(l => \"'\" + l.replace(/'/g, \"''\") + \"'\").join(',')}}]::text[]) ON CONFLICT (message_id) DO NOTHING","options":{}},"id":"n-record","name":"Record Classified","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[2000,400],"credentials":{"postgres":{"id":"JvthRCvWKXaGGbBI","name":"Finance Postgres"}},"alwaysOutputData":true},{"parameters":{"jsCode":"// Get labels from the Apply Labels node (which has the full context)\nconst ctx = $('Apply Labels').first().json;\nconst labels = ctx.labels || [];\n\nif (labels.length === 0) {\n  return [{ json: { ...ctx, upsert_sql: 'SELECT 1' } }];\n}\n\nconst queries = labels.map(label => {\n  const escaped = label.replace(/'/g, \"''\");\n  return `INSERT INTO public.email_labels (label, times_used, last_used) VALUES ('${escaped}', 1, now()) ON CONFLICT (label) DO UPDATE SET times_used = email_labels.times_used + 1, last_used = now()`;\n});\n\nreturn [{ json: { ...ctx, upsert_queries: queries, upsert_sql: queries.join('; ') } }];\n"},"id":"n-upsert-prep","name":"Prep Label Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,400]},{"parameters":{"operation":"executeQuery","query":"{{$json.upsert_sql}}","options":{}},"id":"n-upsert","name":"Upsert Labels","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[2400,400],"credentials":{"postgres":{"id":"JvthRCvWKXaGGbBI","name":"Finance Postgres"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const ctx = $json;\nreturn [{\n  json: {\n    ok: true,\n    message_id: ctx.message_id,\n    subject: ctx.subject,\n    from: ctx.from_address || ctx.from_name,\n    labels: ctx.labels,\n    archived: ctx.archived || false,\n    label_results: ctx.label_results,\n  }\n}];\n"},"id":"n-summary","name":"Summarize","type":"n8n-nodes-base.code","typeVersion":2,"position":[2600,400]}],"connections":{"Every 5 Minutes":{"main":[[{"node":"Fetch Emails","type":"main","index":0}]]},"Fetch Emails":{"main":[[{"node":"Get Classified IDs","type":"main","index":0}]]},"Get Classified IDs":{"main":[[{"node":"Filter Unclassified","type":"main","index":0}]]},"Filter Unclassified":{"main":[[{"node":"Get Existing Labels","type":"main","index":0}]]},"Get Existing Labels":{"main":[[{"node":"Build Classifier Prompt","type":"main","index":0}]]},"Build Classifier Prompt":{"main":[[{"node":"Haiku Classify","type":"main","index":0}]]},"Haiku Classify":{"main":[[{"node":"Parse Classification","type":"main","index":0}]]},"Parse Classification":{"main":[[{"node":"Apply Labels","type":"main","index":0}]]},"Apply Labels":{"main":[[{"node":"Record Classified","type":"main","index":0}]]},"Record Classified":{"main":[[{"node":"Prep Label Upsert","type":"main","index":0}]]},"Prep Label Upsert":{"main":[[{"node":"Upsert Labels","type":"main","index":0}]]},"Upsert Labels":{"main":[[{"node":"Summarize","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every 5 Minutes":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"509ff194-f75f-48f6-8083-4cc915f95011","activeVersionId":"509ff194-f75f-48f6-8083-4cc915f95011","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-05-19T02:30:29.221Z","createdAt":"2026-05-19T02:30:29.221Z","role":"workflow:owner","workflowId":"quNNHEhPI12UXxpp","projectId":"sUwwWKPwkXlUE6jF","project":{"updatedAt":"2026-05-11T01:15:17.027Z","createdAt":"2026-05-11T01:12:34.580Z","id":"sUwwWKPwkXlUE6jF","name":"Michael Manning <manningmichael2@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c0631f56-0fa1-4cba-ae07-a88057dd596a"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-19T02:30:29.222Z","createdAt":"2026-05-19T02:30:29.222Z","versionId":"509ff194-f75f-48f6-8083-4cc915f95011","workflowId":"quNNHEhPI12UXxpp","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"id":"n-cron","name":"Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,400]},{"parameters":{"jsCode":"// Fetch recent emails — look back 7 days to catch backlog.\n// Limit to 50 per execution to avoid overwhelming Haiku.\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://100.106.180.101:5001/imap/fetch-recent',\n  body: {\n    folder: \"INBOX\",\n    since_minutes: 10080,\n    limit: 50,\n    include_body: true,\n    body_max_chars: 2000\n  },\n  json: true,\n});\n\nif (!response || !response.ok || !response.emails || response.emails.length === 0) {\n  return [{ json: { error: null, emails: [], count: 0, note: \"No emails to process\" } }];\n}\n\n// Emit one item per email for downstream processing\nreturn response.emails.map(email => ({ json: email }));\n","mode":"runOnceForAllItems"},"id":"n-fetch","name":"Fetch Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,400]},{"parameters":{"operation":"executeQuery","query":"SELECT message_id FROM public.email_classified WHERE classified_at > now() - interval '8 days'","options":{}},"id":"n-check","name":"Get Classified IDs","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[600,400],"credentials":{"postgres":{"id":"JvthRCvWKXaGGbBI","name":"Finance Postgres"}},"alwaysOutputData":true},{"parameters":{"jsCode":"// Get the set of already-classified message IDs from the Postgres query\nconst classifiedRows = $('Get Classified IDs').all().map(i => i.json.message_id).filter(Boolean);\nconst classifiedSet = new Set(classifiedRows);\n\n// Get all emails from the fetch step\nconst emails = $('Fetch Emails').all().map(i => i.json);\n\n// Filter to only unclassified emails\nconst unclassified = emails.filter(e => e.message_id && !classifiedSet.has(e.message_id));\n\nif (unclassified.length === 0) {\n  return [{ json: { note: \"All emails already classified\", count: 0 } }];\n}\n\n// Emit one item per unclassified email\nreturn unclassified.map(email => ({ json: email }));\n"},"id":"n-filter","name":"Filter Unclassified","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,400]},{"parameters":{"operation":"executeQuery","query":"SELECT label FROM public.email_labels ORDER BY times_used DESC LIMIT 50","options":{}},"id":"n-labels","name":"Get Existing Labels","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[1000,400],"credentials":{"postgres":{"id":"JvthRCvWKXaGGbBI","name":"Finance Postgres"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const email = $('Filter Unclassified').first().json;\nconst labelRows = $('Get Existing Labels').all().map(i => i.json.label);\nconst existingLabels = labelRows.length > 0 ? labelRows.join(', ') : 'AI-Tags/Receipts, AI-Tags/Bills, AI-Tags/Subscriptions, AI-Tags/Shipping, AI-Tags/Finance, AI-Tags/Pets, AI-Tags/House, AI-Tags/Travel, AI-Tags/Social, AI-Tags/Newsletters, AI-Tags/Spam-ish, AI-Tags/Action-Required';\n\nconst subject = email.subject || '(no subject)';\nconst from = email.from_address || email.from_name || 'unknown';\nconst body = (email.body_text || '').slice(0, 1500);\n\nconst prompt = `Classify this email by applying 1-3 labels. Use the \"AI-Tags/\" prefix for all labels.\n\nRULES:\n- Reuse existing labels when they fit. Only create a new label if nothing existing applies.\n- If this is a purchase receipt, order confirmation, or payment confirmation, you MUST include \"AI-Tags/Receipts\" as one of the labels.\n- Labels should be short, consistent, and descriptive (e.g., \"AI-Tags/Pets\", \"AI-Tags/Travel\").\n- Use Title Case after the prefix (e.g., \"AI-Tags/Home-Improvement\" not \"AI-Tags/home improvement\").\n- Use hyphens for multi-word labels (e.g., \"AI-Tags/Action-Required\").\n\nPreviously used labels: ${existingLabels}\n\nEMAIL:\nFrom: ${from}\nSubject: ${subject}\nBody preview: ${body}\n\nReturn ONLY a JSON object: {\"labels\": [\"AI-Tags/...\", ...]}`;\n\nconst payload = {\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 256,\n  messages: [{ role: \"user\", content: prompt }]\n};\n\nreturn [{ json: { ...email, haiku_payload: payload } }];\n"},"id":"n-prompt","name":"Build Classifier Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,400]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.haiku_payload) }}","options":{"timeout":30000}},"id":"n-haiku","name":"Haiku Classify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,400],"credentials":{"httpHeaderAuth":{"id":"uGfcnvWQfj3IfjsH","name":"Anthropic API"}}},{"parameters":{"jsCode":"const ctx = $('Build Classifier Prompt').first().json;\nconst resp = $json;\n\nlet text = \"\";\ntry { text = (resp.content && resp.content[0] && resp.content[0].text) || \"\"; }\ncatch (e) { /* fall through */ }\n\ntext = text.trim().replace(/^```(?:json)?/, \"\").replace(/```$/, \"\").trim();\n\nlet labels = [];\ntry {\n  const parsed = JSON.parse(text);\n  labels = Array.isArray(parsed.labels) ? parsed.labels : [];\n} catch (e) {\n  // If parsing fails, try to extract labels from the text\n  const matches = text.match(/AI-Tags\\/[A-Za-z0-9-]+/g);\n  labels = matches || [];\n}\n\n// Guardrail: ensure labels are properly formatted\nlabels = labels\n  .filter(l => typeof l === 'string' && l.startsWith('AI-Tags/'))\n  .slice(0, 3);  // Max 3 labels\n\n// If no valid labels were returned, default to Newsletters (safe fallback)\nif (labels.length === 0) {\n  labels = ['AI-Tags/Newsletters'];\n}\n\nreturn [{ json: { ...ctx, labels: labels } }];\n"},"id":"n-parse","name":"Parse Classification","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,400]},{"parameters":{"jsCode":"const ctx = $json;\nconst results = [];\n\n// Labels that should trigger auto-archive (only if ALL labels are in this set)\nconst AUTO_ARCHIVE_LABELS = new Set([\n  'AI-Tags/Newsletters',\n  'AI-Tags/Spam-ish',\n  'AI-Tags/Shipping',\n  'AI-Tags/Receipts',\n  'AI-Tags/Subscriptions',\n]);\n\nfor (const label of ctx.labels) {\n  try {\n    const data = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://100.106.180.101:5001/imap/add-label',\n      body: { source_folder: \"INBOX\", uid: ctx.uid, label: label },\n      json: true,\n    });\n    results.push({ label, ok: data.ok, error: data.error || null });\n  } catch (e) {\n    results.push({ label, ok: false, error: e.message });\n  }\n}\n\n// Auto-archive: only if ALL assigned labels are in the auto-archive set\nconst allArchivable = ctx.labels.every(l => AUTO_ARCHIVE_LABELS.has(l));\nlet archived = false;\n\nif (allArchivable && ctx.uid) {\n  try {\n    const archiveData = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://100.106.180.101:5001/imap/archive',\n      body: { uid: ctx.uid },\n      json: true,\n    });\n    archived = archiveData.ok || false;\n  } catch (e) {\n    archived = false;\n  }\n}\n\nreturn [{ json: { ...ctx, label_results: results, archived: archived } }];\n"},"id":"n-apply","name":"Apply Labels","type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.email_classified (message_id, labels) VALUES ('{{$('Apply Labels').first().json.message_id}}', ARRAY[{{$('Apply Labels').first().json.labels.map(l => \"'\" + l.replace(/'/g, \"''\") + \"'\").join(',')}}]::text[]) ON CONFLICT (message_id) DO NOTHING","options":{}},"id":"n-record","name":"Record Classified","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[2000,400],"credentials":{"postgres":{"id":"JvthRCvWKXaGGbBI","name":"Finance Postgres"}},"alwaysOutputData":true},{"parameters":{"jsCode":"// Get labels from the Apply Labels node (which has the full context)\nconst ctx = $('Apply Labels').first().json;\nconst labels = ctx.labels || [];\n\nif (labels.length === 0) {\n  return [{ json: { ...ctx, upsert_sql: 'SELECT 1' } }];\n}\n\nconst queries = labels.map(label => {\n  const escaped = label.replace(/'/g, \"''\");\n  return `INSERT INTO public.email_labels (label, times_used, last_used) VALUES ('${escaped}', 1, now()) ON CONFLICT (label) DO UPDATE SET times_used = email_labels.times_used + 1, last_used = now()`;\n});\n\nreturn [{ json: { ...ctx, upsert_queries: queries, upsert_sql: queries.join('; ') } }];\n"},"id":"n-upsert-prep","name":"Prep Label Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,400]},{"parameters":{"operation":"executeQuery","query":"{{$json.upsert_sql}}","options":{}},"id":"n-upsert","name":"Upsert Labels","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[2400,400],"credentials":{"postgres":{"id":"JvthRCvWKXaGGbBI","name":"Finance Postgres"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const ctx = $json;\nreturn [{\n  json: {\n    ok: true,\n    message_id: ctx.message_id,\n    subject: ctx.subject,\n    from: ctx.from_address || ctx.from_name,\n    labels: ctx.labels,\n    archived: ctx.archived || false,\n    label_results: ctx.label_results,\n  }\n}];\n"},"id":"n-summary","name":"Summarize","type":"n8n-nodes-base.code","typeVersion":2,"position":[2600,400]}],"connections":{"Every 5 Minutes":{"main":[[{"node":"Fetch Emails","type":"main","index":0}]]},"Fetch Emails":{"main":[[{"node":"Get Classified IDs","type":"main","index":0}]]},"Get Classified IDs":{"main":[[{"node":"Filter Unclassified","type":"main","index":0}]]},"Filter Unclassified":{"main":[[{"node":"Get Existing Labels","type":"main","index":0}]]},"Get Existing Labels":{"main":[[{"node":"Build Classifier Prompt","type":"main","index":0}]]},"Build Classifier Prompt":{"main":[[{"node":"Haiku Classify","type":"main","index":0}]]},"Haiku Classify":{"main":[[{"node":"Parse Classification","type":"main","index":0}]]},"Parse Classification":{"main":[[{"node":"Apply Labels","type":"main","index":0}]]},"Apply Labels":{"main":[[{"node":"Record Classified","type":"main","index":0}]]},"Record Classified":{"main":[[{"node":"Prep Label Upsert","type":"main","index":0}]]},"Prep Label Upsert":{"main":[[{"node":"Upsert Labels","type":"main","index":0}]]},"Upsert Labels":{"main":[[{"node":"Summarize","type":"main","index":0}]]}},"authors":"Michael Manning","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-19T02:32:06.083Z","id":90,"workflowId":"quNNHEhPI12UXxpp","versionId":"509ff194-f75f-48f6-8083-4cc915f95011","event":"activated","userId":"c0631f56-0fa1-4cba-ae07-a88057dd596a"}]}}