archive/legacy-scripts/classifier_v4.json
{"updatedAt":"2026-05-19T03:23:13.248Z","createdAt":"2026-05-19T02:30:29.220Z","id":"quNNHEhPI12UXxpp","name":"AI Inbox Classifier","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"id":"n-cron","name":"Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,400]},{"parameters":{"jsCode":"const response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://100.106.180.101:5001/imap/fetch-recent',\n  body: { folder: \"INBOX\", since_minutes: 10080, limit: 50, include_body: true, body_max_chars: 2000 },\n  json: true,\n});\n\nif (!response || !response.ok || !response.emails || response.emails.length === 0) {\n  return [];\n}\n\nreturn response.emails.map(email => ({ json: email }));\n","mode":"runOnceForAllItems"},"id":"n-fetch","name":"Fetch Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,400]},{"parameters":{"operation":"executeQuery","query":"SELECT message_id FROM public.email_classified WHERE classified_at > now() - interval '8 days'","options":{}},"id":"n-check","name":"Get Classified IDs","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[600,400],"credentials":{"postgres":{"id":"JvthRCvWKXaGGbBI","name":"Finance Postgres"}},"alwaysOutputData":true},{"parameters":{"operation":"executeQuery","query":"SELECT label FROM public.email_labels ORDER BY times_used DESC LIMIT 50","options":{}},"id":"n-labels","name":"Get Existing Labels","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[800,400],"credentials":{"postgres":{"id":"JvthRCvWKXaGGbBI","name":"Finance Postgres"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const classifiedRows = $('Get Classified IDs').all().map(i => i.json.message_id).filter(Boolean);\nconst classifiedSet = new Set(classifiedRows);\nconst emails = $('Fetch Emails').all().map(i => i.json);\nconst unclassified = emails.filter(e => e.message_id && !classifiedSet.has(e.message_id)).slice(0, 10);\n\nif (unclassified.length === 0) return [];\n\n// Pull existing labels here too so Build Prompt doesn't need to (avoids cross-product)\nconst labelRows = $('Get Existing Labels').all().map(i => i.json.label);\nconst existingLabels = labelRows.length > 0 ? labelRows.join(', ') : 'AI-Tags/Receipts, AI-Tags/Bills, AI-Tags/Subscriptions, AI-Tags/Shipping, AI-Tags/Finance, AI-Tags/Pets, AI-Tags/House, AI-Tags/Travel, AI-Tags/Social, AI-Tags/Newsletters, AI-Tags/Spam-ish, AI-Tags/Action-Required';\n\nreturn unclassified.map(email => ({ json: { ...email, _existingLabels: existingLabels } }));\n","mode":"runOnceForAllItems"},"id":"n-filter","name":"Filter Unclassified","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,400]},{"parameters":{"batchSize":1,"options":{}},"id":"n-loop","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1200,400]},{"parameters":{"jsCode":"const email = $json;\nconst existingLabels = email._existingLabels || 'AI-Tags/Receipts, AI-Tags/Newsletters, AI-Tags/Spam-ish';\n\nconst subject = email.subject || '(no subject)';\nconst from = email.from_address || email.from_name || 'unknown';\nconst body = (email.body_text || '').slice(0, 1500);\n\nconst prompt = `Classify this email by applying 1-3 labels. Use the \"AI-Tags/\" prefix for all labels.\n\nRULES:\n- Reuse existing labels when they fit. Only create a new label if nothing existing applies.\n- If this is a purchase receipt, order confirmation, or payment confirmation, you MUST include \"AI-Tags/Receipts\" as one of the labels.\n- Labels should be short, consistent, and descriptive (e.g., \"AI-Tags/Pets\", \"AI-Tags/Travel\").\n- Use Title Case after the prefix (e.g., \"AI-Tags/Home-Improvement\" not \"AI-Tags/home improvement\").\n- Use hyphens for multi-word labels (e.g., \"AI-Tags/Action-Required\").\n\nPreviously used labels: ${existingLabels}\n\nEMAIL:\nFrom: ${from}\nSubject: ${subject}\nBody preview: ${body}\n\nReturn ONLY a JSON object: {\"labels\": [\"AI-Tags/...\", ...]}`;\n\nconst payload = {\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 256,\n  messages: [{ role: \"user\", content: prompt }]\n};\n\nreturn [{ json: { haiku_payload: payload, _email: { message_id: email.message_id, uid: email.uid, subject: email.subject, from_address: email.from_address, from_name: email.from_name } } }];\n"},"id":"n-prompt","name":"Build Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,400]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.haiku_payload) }}","options":{"timeout":30000}},"id":"n-haiku","name":"Haiku Classify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,400],"credentials":{"httpHeaderAuth":{"id":"uGfcnvWQfj3IfjsH","name":"Anthropic API"}}},{"parameters":{"jsCode":"const resp = $json;\nconst emailCtx = $('Build Prompt').item.json._email;\n\nlet text = \"\";\ntry { text = (resp.content && resp.content[0] && resp.content[0].text) || \"\"; }\ncatch (e) {}\n\ntext = text.trim().replace(/^```(?:json)?/, \"\").replace(/```$/, \"\").trim();\n\nlet labels = [];\ntry {\n  const parsed = JSON.parse(text);\n  labels = Array.isArray(parsed.labels) ? parsed.labels : [];\n} catch (e) {\n  const matches = text.match(/AI-Tags\\/[A-Za-z0-9-]+/g);\n  labels = matches || [];\n}\n\nlabels = labels.filter(l => typeof l === 'string' && l.startsWith('AI-Tags/')).slice(0, 3);\nif (labels.length === 0) labels = ['AI-Tags/Newsletters'];\n\nconst AUTO_ARCHIVE_LABELS = new Set([\n  'AI-Tags/Newsletters', 'AI-Tags/Spam-ish', 'AI-Tags/Shipping',\n  'AI-Tags/Receipts', 'AI-Tags/Subscriptions',\n]);\n\nfor (const label of labels) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://100.106.180.101:5001/imap/add-label',\n      body: { source_folder: \"INBOX\", uid: emailCtx.uid, label: label },\n      json: true,\n    });\n  } catch (e) {}\n}\n\nlet archived = false;\nif (labels.every(l => AUTO_ARCHIVE_LABELS.has(l)) && emailCtx.uid) {\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://100.106.180.101:5001/imap/archive',\n      body: { uid: emailCtx.uid },\n      json: true,\n    });\n    archived = r.ok || false;\n  } catch (e) {}\n}\n\nreturn [{ json: {\n  message_id: emailCtx.message_id,\n  subject: emailCtx.subject,\n  from: emailCtx.from_address || emailCtx.from_name,\n  labels: labels,\n  archived: archived,\n}}];\n"},"id":"n-parse","name":"Parse and Apply","type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.email_classified (message_id, labels) VALUES ('{{$json.message_id}}', ARRAY[{{$json.labels.map(l => \"'\" + l.replace(/'/g, \"''\") + \"'\").join(',')}}]::text[]) ON CONFLICT (message_id) DO NOTHING","options":{}},"id":"n-record","name":"Record Classified","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[2000,400],"credentials":{"postgres":{"id":"JvthRCvWKXaGGbBI","name":"Finance Postgres"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const labels = $json.labels || [];\nif (labels.length === 0) return [{ json: { ...($json), upsert_sql: 'SELECT 1' } }];\n\nconst queries = labels.map(label => {\n  const escaped = label.replace(/'/g, \"''\");\n  return `INSERT INTO public.email_labels (label, times_used, last_used) VALUES ('${escaped}', 1, now()) ON CONFLICT (label) DO UPDATE SET times_used = email_labels.times_used + 1, last_used = now()`;\n});\n\nreturn [{ json: { ...($json), upsert_sql: queries.join('; ') } }];\n"},"id":"n-upsert-prep","name":"Prep Label Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,400]},{"parameters":{"operation":"executeQuery","query":"{{$json.upsert_sql}}","options":{}},"id":"n-upsert","name":"Upsert Labels","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[2400,400],"credentials":{"postgres":{"id":"JvthRCvWKXaGGbBI","name":"Finance Postgres"}},"alwaysOutputData":true}],"connections":{"Every 5 Minutes":{"main":[[{"node":"Fetch Emails","type":"main","index":0}]]},"Fetch Emails":{"main":[[{"node":"Get Classified IDs","type":"main","index":0}]]},"Get Classified IDs":{"main":[[{"node":"Get Existing Labels","type":"main","index":0}]]},"Get Existing Labels":{"main":[[{"node":"Filter Unclassified","type":"main","index":0}]]},"Filter Unclassified":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Haiku Classify","type":"main","index":0}]]},"Haiku Classify":{"main":[[{"node":"Parse and Apply","type":"main","index":0}]]},"Parse and Apply":{"main":[[{"node":"Record Classified","type":"main","index":0}]]},"Record Classified":{"main":[[{"node":"Prep Label Upsert","type":"main","index":0}]]},"Prep Label Upsert":{"main":[[{"node":"Upsert Labels","type":"main","index":0}]]},"Upsert Labels":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every 5 Minutes":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"466d23f3-e24f-483c-bf3b-596e47fd529b","activeVersionId":"466d23f3-e24f-483c-bf3b-596e47fd529b","versionCounter":20,"triggerCount":1,"shared":[{"updatedAt":"2026-05-19T02:30:29.221Z","createdAt":"2026-05-19T02:30:29.221Z","role":"workflow:owner","workflowId":"quNNHEhPI12UXxpp","projectId":"sUwwWKPwkXlUE6jF","project":{"updatedAt":"2026-05-11T01:15:17.027Z","createdAt":"2026-05-11T01:12:34.580Z","id":"sUwwWKPwkXlUE6jF","name":"Michael Manning <manningmichael2@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c0631f56-0fa1-4cba-ae07-a88057dd596a"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-19T03:23:13.248Z","createdAt":"2026-05-19T03:23:13.248Z","versionId":"466d23f3-e24f-483c-bf3b-596e47fd529b","workflowId":"quNNHEhPI12UXxpp","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"id":"n-cron","name":"Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,400]},{"parameters":{"jsCode":"const response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://100.106.180.101:5001/imap/fetch-recent',\n  body: { folder: \"INBOX\", since_minutes: 10080, limit: 50, include_body: true, body_max_chars: 2000 },\n  json: true,\n});\n\nif (!response || !response.ok || !response.emails || response.emails.length === 0) {\n  return [];\n}\n\nreturn response.emails.map(email => ({ json: email }));\n","mode":"runOnceForAllItems"},"id":"n-fetch","name":"Fetch Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,400]},{"parameters":{"operation":"executeQuery","query":"SELECT message_id FROM public.email_classified WHERE classified_at > now() - interval '8 days'","options":{}},"id":"n-check","name":"Get Classified IDs","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[600,400],"credentials":{"postgres":{"id":"JvthRCvWKXaGGbBI","name":"Finance Postgres"}},"alwaysOutputData":true},{"parameters":{"operation":"executeQuery","query":"SELECT label FROM public.email_labels ORDER BY times_used DESC LIMIT 50","options":{}},"id":"n-labels","name":"Get Existing Labels","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[800,400],"credentials":{"postgres":{"id":"JvthRCvWKXaGGbBI","name":"Finance Postgres"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const classifiedRows = $('Get Classified IDs').all().map(i => i.json.message_id).filter(Boolean);\nconst classifiedSet = new Set(classifiedRows);\nconst emails = $('Fetch Emails').all().map(i => i.json);\nconst unclassified = emails.filter(e => e.message_id && !classifiedSet.has(e.message_id)).slice(0, 10);\n\nif (unclassified.length === 0) return [];\n\n// Pull existing labels here too so Build Prompt doesn't need to (avoids cross-product)\nconst labelRows = $('Get Existing Labels').all().map(i => i.json.label);\nconst existingLabels = labelRows.length > 0 ? labelRows.join(', ') : 'AI-Tags/Receipts, AI-Tags/Bills, AI-Tags/Subscriptions, AI-Tags/Shipping, AI-Tags/Finance, AI-Tags/Pets, AI-Tags/House, AI-Tags/Travel, AI-Tags/Social, AI-Tags/Newsletters, AI-Tags/Spam-ish, AI-Tags/Action-Required';\n\nreturn unclassified.map(email => ({ json: { ...email, _existingLabels: existingLabels } }));\n","mode":"runOnceForAllItems"},"id":"n-filter","name":"Filter Unclassified","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,400]},{"parameters":{"batchSize":1,"options":{}},"id":"n-loop","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1200,400]},{"parameters":{"jsCode":"const email = $json;\nconst existingLabels = email._existingLabels || 'AI-Tags/Receipts, AI-Tags/Newsletters, AI-Tags/Spam-ish';\n\nconst subject = email.subject || '(no subject)';\nconst from = email.from_address || email.from_name || 'unknown';\nconst body = (email.body_text || '').slice(0, 1500);\n\nconst prompt = `Classify this email by applying 1-3 labels. Use the \"AI-Tags/\" prefix for all labels.\n\nRULES:\n- Reuse existing labels when they fit. Only create a new label if nothing existing applies.\n- If this is a purchase receipt, order confirmation, or payment confirmation, you MUST include \"AI-Tags/Receipts\" as one of the labels.\n- Labels should be short, consistent, and descriptive (e.g., \"AI-Tags/Pets\", \"AI-Tags/Travel\").\n- Use Title Case after the prefix (e.g., \"AI-Tags/Home-Improvement\" not \"AI-Tags/home improvement\").\n- Use hyphens for multi-word labels (e.g., \"AI-Tags/Action-Required\").\n\nPreviously used labels: ${existingLabels}\n\nEMAIL:\nFrom: ${from}\nSubject: ${subject}\nBody preview: ${body}\n\nReturn ONLY a JSON object: {\"labels\": [\"AI-Tags/...\", ...]}`;\n\nconst payload = {\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 256,\n  messages: [{ role: \"user\", content: prompt }]\n};\n\nreturn [{ json: { haiku_payload: payload, _email: { message_id: email.message_id, uid: email.uid, subject: email.subject, from_address: email.from_address, from_name: email.from_name } } }];\n"},"id":"n-prompt","name":"Build Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,400]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.haiku_payload) }}","options":{"timeout":30000}},"id":"n-haiku","name":"Haiku Classify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,400],"credentials":{"httpHeaderAuth":{"id":"uGfcnvWQfj3IfjsH","name":"Anthropic API"}}},{"parameters":{"jsCode":"const resp = $json;\nconst emailCtx = $('Build Prompt').item.json._email;\n\nlet text = \"\";\ntry { text = (resp.content && resp.content[0] && resp.content[0].text) || \"\"; }\ncatch (e) {}\n\ntext = text.trim().replace(/^```(?:json)?/, \"\").replace(/```$/, \"\").trim();\n\nlet labels = [];\ntry {\n  const parsed = JSON.parse(text);\n  labels = Array.isArray(parsed.labels) ? parsed.labels : [];\n} catch (e) {\n  const matches = text.match(/AI-Tags\\/[A-Za-z0-9-]+/g);\n  labels = matches || [];\n}\n\nlabels = labels.filter(l => typeof l === 'string' && l.startsWith('AI-Tags/')).slice(0, 3);\nif (labels.length === 0) labels = ['AI-Tags/Newsletters'];\n\nconst AUTO_ARCHIVE_LABELS = new Set([\n  'AI-Tags/Newsletters', 'AI-Tags/Spam-ish', 'AI-Tags/Shipping',\n  'AI-Tags/Receipts', 'AI-Tags/Subscriptions',\n]);\n\nfor (const label of labels) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://100.106.180.101:5001/imap/add-label',\n      body: { source_folder: \"INBOX\", uid: emailCtx.uid, label: label },\n      json: true,\n    });\n  } catch (e) {}\n}\n\nlet archived = false;\nif (labels.every(l => AUTO_ARCHIVE_LABELS.has(l)) && emailCtx.uid) {\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://100.106.180.101:5001/imap/archive',\n      body: { uid: emailCtx.uid },\n      json: true,\n    });\n    archived = r.ok || false;\n  } catch (e) {}\n}\n\nreturn [{ json: {\n  message_id: emailCtx.message_id,\n  subject: emailCtx.subject,\n  from: emailCtx.from_address || emailCtx.from_name,\n  labels: labels,\n  archived: archived,\n}}];\n"},"id":"n-parse","name":"Parse and Apply","type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.email_classified (message_id, labels) VALUES ('{{$json.message_id}}', ARRAY[{{$json.labels.map(l => \"'\" + l.replace(/'/g, \"''\") + \"'\").join(',')}}]::text[]) ON CONFLICT (message_id) DO NOTHING","options":{}},"id":"n-record","name":"Record Classified","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[2000,400],"credentials":{"postgres":{"id":"JvthRCvWKXaGGbBI","name":"Finance Postgres"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const labels = $json.labels || [];\nif (labels.length === 0) return [{ json: { ...($json), upsert_sql: 'SELECT 1' } }];\n\nconst queries = labels.map(label => {\n  const escaped = label.replace(/'/g, \"''\");\n  return `INSERT INTO public.email_labels (label, times_used, last_used) VALUES ('${escaped}', 1, now()) ON CONFLICT (label) DO UPDATE SET times_used = email_labels.times_used + 1, last_used = now()`;\n});\n\nreturn [{ json: { ...($json), upsert_sql: queries.join('; ') } }];\n"},"id":"n-upsert-prep","name":"Prep Label Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,400]},{"parameters":{"operation":"executeQuery","query":"{{$json.upsert_sql}}","options":{}},"id":"n-upsert","name":"Upsert Labels","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[2400,400],"credentials":{"postgres":{"id":"JvthRCvWKXaGGbBI","name":"Finance Postgres"}},"alwaysOutputData":true}],"connections":{"Every 5 Minutes":{"main":[[{"node":"Fetch Emails","type":"main","index":0}]]},"Fetch Emails":{"main":[[{"node":"Get Classified IDs","type":"main","index":0}]]},"Get Classified IDs":{"main":[[{"node":"Get Existing Labels","type":"main","index":0}]]},"Get Existing Labels":{"main":[[{"node":"Filter Unclassified","type":"main","index":0}]]},"Filter Unclassified":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Haiku Classify","type":"main","index":0}]]},"Haiku Classify":{"main":[[{"node":"Parse and Apply","type":"main","index":0}]]},"Parse and Apply":{"main":[[{"node":"Record Classified","type":"main","index":0}]]},"Record Classified":{"main":[[{"node":"Prep Label Upsert","type":"main","index":0}]]},"Prep Label Upsert":{"main":[[{"node":"Upsert Labels","type":"main","index":0}]]},"Upsert Labels":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"authors":"Michael Manning","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-19T03:23:13.280Z","id":100,"workflowId":"quNNHEhPI12UXxpp","versionId":"466d23f3-e24f-483c-bf3b-596e47fd529b","event":"activated","userId":"c0631f56-0fa1-4cba-ae07-a88057dd596a"}]}}